@font-face {
    font-family: Akkurat;
    src: url(../fonts/Akkurat.ttf);
}

@font-face {
    font-family: Graphik;
    src: url(../fonts/Graphik.otf);
}

@font-face {
    font-family: Astroworld;
    src: url(../fonts/Astroworld.ttf);
}

@font-face {
    font-family: Knit;
    src: url(../fonts/Knit.ttf);
}

@font-face {
    font-family: Impact;
    src: url(../fonts/Impact.ttf);
}

.navbar {
    --bs-navbar-color: unset;
    --bs-navbar-hover-color: unset;
    --bs-navbar-disabled-color: unset;
    --bs-navbar-active-color: unset;
    --bs-navbar-brand-color: unset;
    --bs-navbar-brand-hover-color: unset;
    padding: 0;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

#home {
    background-color: #070609;
}

#about {
    background-color: #264CA5;
    background-image: url(../img/dbr.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#days-nobg {
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 750px;
}

#utopia {
    user-select: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 750px;
}

#disco {
    background-color: #2B1F1D;
}

h1, p, .album-cover, #utopia, #days-nobg, #concerts .card, #concerts .card h5, #concerts h3, #concerts li {
    opacity: 0;
    animation: loader 1s ease 0s 1 normal forwards;
}

#home::after, #about::after, #disco::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/grain.png);
    opacity: 0.06;
    pointer-events: none;
    z-index: 1000;
}

.logo {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 5px;
    padding-top: 15px;
    cursor: pointer;
}

.nav-link {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: Akkurat, sans-serif;
    font-size: 20px;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

#disco .nav-link {
    color: #9C5541;
    opacity: 1;
}

#home h1 {
    font-family: Graphik, sans-serif;
    color: rgb(180, 180, 180);
    letter-spacing: -0.5vw;
    text-transform: uppercase;
    font-size: 10vw;
    line-height: 80%;
}

#home .first-h1 {
    margin-top: 15%;
}

#home p {
    font-family: Graphik, sans-serif;
    color: rgb(180, 180, 180);
    padding-top: 15px;
    font-size: 1.25vw;
}

.container-fluid, .container {
    position: relative;
    z-index: 1;
}

#about h1 {
    font-family: Impact, sans-serif;
    color: red;
    text-shadow: 0 0 10px red;
    font-size: 5.5vw;
    margin-top: 10%;
    text-transform: uppercase;
}

#about p {
    font-family: Impact, sans-serif;
    font-size: 1vw;
    color: #fff;
    margin-top: 1%;
}

.album-cover {
    text-align: center;
}

.album-cover img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, border-radius 0.3s ease;
    border-radius: 10px;
}

.album-cover img:hover {
    transform: scale(1.05);
    border-radius: 180px;
}

#disco h1 {
    text-align: center;
    font-family: Knit, sans-serif;
    font-size: 4rem;
    color: #9C5541;
    text-transform: uppercase;
}

#concerts {
    font-family: Akkurat, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #070606;
    background-image: url(../img/grain-concerts.png);
}

#concerts h3 {
    font-family: Akkurat, sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

#concerts li {
    font-family: Akkurat, sans-serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

#concerts h1 {
    font-family: Astroworld, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#concerts .gomb {
    font-family: Akkurat, sans-serif;
    background: #9C5541;
    background-size: 200%;
    border: none;
}

#concerts .card p {
    font-size: 14px;
}

#concerts .card h5 {
    font-size: 20px;
}

#concerts .card {
    margin-bottom: 10%;
}

@media (max-width: 1400px) {
    #about p {
        font-size: 1.3vw;
    }

}

@media (max-width: 1200px) {
    #about p {
        font-size: 1.4vw;
    }

}

@media (max-width: 800px) {
    #about p {
        font-size: 1.6vw;
    }

}

@media (max-width: 768px) {
    .content-right {
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .album-cover img {
        max-width: 80%;
    }

    #home h1 {
        font-size: 20vw;
    }

    #home p {
        font-size: 4vw;
    }

    #about h1 {
        font-size: 10vw;
    }

    #about p {
        font-size: 2vw;
    }
}

@keyframes loader {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
